:root {
    --primary--color: #723072;
    --secondary--color: hsl(291, 22%, 57%);
    --third--color: bisque;
    --fourth--color: #590285;
    
    --box--shadow: 0 1.5rem 1rem rgba(0, 0, 0,.1);
    --text--shadow: 0 1.5rem 3rem rgba(0, 0, 0,.3);

    --nav--color: #f9ebf9;
    --orange--button: orangered;

    --font-family: "Nunito Sans", sans-serif;
 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
}

.header {
    width: 100%;
    height: 70px;
    background-color: var(--primary--color);
    box-shadow: var(--box--shadow);
    align-items: center;
    justify-content: space-between;


}

.header nav {
    width: 90%;
    height: 80px;
    margin-left: 80px;
    padding-top: 25px;
    background-color: var(--nav-color);
}

.header nav ul {
    text-align: center;
}

.header nav ul li {
    display: inline-block; 
    font-size: 25px;
    line-height: 1rem;
    margin: 0px 40px;
}

.header nav ul li a {
    color: var(--nav--color);
}

.header nav ul li a:hover {
    color: var(--third--color);
}

.header .section_container{
    position: absolute;
    top: 200px;
    left: 45%;
    right: 15%
}

.header .section_container h1 {
    font-size: 40px;
    font-weight: 800;
    padding-left: 1rem;
    color: var(--secondary--color);
    text-shadow: var(--text--shadow);
}

.header .section_container .section_txt {
    width: 500px;
    margin-top: 10px;
    
}

.social{
    margin-left: 30%;
    font-size: 20px;
}

.social i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
}

.header .img{
    width: 350px;
    height: 350px;
    border-radius: 350px;
    background: url(/images/mypic.jpg);
    background-repeat: no-repeat;
    background-size: 350px;

    margin: 30px 0 0 17em;
}

/* ICONS */
.icon_container {
    width: 100%;
    height: 400px;
    color: var(--fourth--color);
    /* padding: 50px 0px; */
    flex-shrink: 0;
    padding: 50px 90px 41rem;
} 

.icon_container .icon_title{
    text-align: center;
    padding-top: 30%;
    font-weight: 800;
    font-size: 44px;
    color: var(--fourth--color);
}

.icon_container .icon_box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around; 
}

.icon_container .icon_box .icon_card{
    padding: 2rem 3rem;
    text-align: center;
    background: var(--nav--color);
    box-shadow: var(--box--shadow);
    overflow: hidden;
} 

.icon_container .icon_box .icon_card img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;

}

.icon_container .icon_txt{
    width: 260px;
    padding: 0 10px;
    left: 50px;
    text-align: center;
    
}

/* ABOUT ME */
.home_about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    height: 10px;
    padding: 100px 80px 0;
    margin-left: 70px;
    
}

.home_about .image{
    height: 100%;
    width: 500px;
}

.home_about .image img{
    width: 100%;
    height: 400px;
    /* 700px */ 
    object-fit: cover;
    object-position: center;
    
}

.home_about .content{
    padding-bottom: 111px;
    padding-top: 2rem;
    background: var(--primary--color);
    width: 700px;
    margin: 1px 0 0 32em;
}

.home_about .content h2{
    font-size: 50px;
    font-weight: 800;
    padding-left: 3rem;
    color: var(--nav--color);
}

.home_about .content p{
    width: 700px;
    font-size: 18px;
    padding-left: 3rem;
    margin-top: 20px;
    color: var(--nav--color);
}

.home_about .content .btn{
    background-color: var(--orange--button);
    color:var(--nav--color);
    padding: 10px;
    width: 105px;
    display: inline-flex;
    border-radius: 4px;
    box-shadow: var(--box--shadow);
    margin-top: 6px;
    margin-left: 50px;
}

/* Work and Art  */
.work_container{
    width: 100%;
    height: 100px;
    padding: 50px 5rem;
}

.work_container .about_box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
}

.work_container .about_title{
    text-align: center;
    padding-top: 30%;
    padding-left: 20px;
    font-weight: 800;
    font-size: 50px;
    color: var(--fourth--color);
}

.work_container .about_box .about_img{
    padding: 2rem 1rem;
    height: 25rem;
    overflow: hidden;
}

.work_container .about_box .about_img img{
    width: 115%;
    height: 100%;
    /* 700px */ 
    object-fit: cover;
    object-position: center;
}

.work_container .about_box .box .about_content{
    text-align: center;
}

.work_container .about_box .box .about_content h2{
    color: var(--primary--color);
    font-size: 2rem;
} 

.work_container .about_box .box .about_content p{
    color: var(--primary--color);
    font-size: 14px;
} 

.work_container .about_box .box .btn{
    background-color: var(--primary--color);
    color:var(--nav--color);
    padding: 10px;
}

.about_content .btn{
    width: 105px;
    display: inline-flex;
    border-radius: 4px;
    box-shadow: var(--box--shadow);
    margin-top: 6px;
}

/* Map */
.home_map{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -200px;
    width: -1000px;
    margin-top: 1200px;
    padding: 30% 7% 80px;
    
}

/* .home_mag .image .googlemap{
    padding-bottom: 100%;
    position: relative;
}

.home_mag .image .google-map iframe {
    height: 100%;
    width: 100%;
    left: 10;
    top: 0;
    position: relative;
} */

.home_map .content{
    margin-top: 1900px;
    padding-bottom: 131px;
    padding-top: 1rem;
    background: var(--primary--color);
    width: 900px;
    margin: -50px 0px -10px 40em;
}

.home_map .content h4{
    font-size: 30px;
    font-weight: 600;
    padding-left: 3rem;
    color: var(--nav--color);
}

.home_map .content p{
    width: 700px;
    font-size: 18px;
    padding-left: 3rem;
    margin-top: 20px;
    color: var(--nav--color);
}

.footer {
    background-color: var(--nav--color);
    color: var(--primary--color);
    text-align: center;
    line-height: 1.7;
  }